### 1. Importacion de Datos de una Base de datos de MySQL

In [14]:
import pandas as pd
from sqlalchemy import create_engine

# Parámetros de conexión
usuario = 'root'
contraseña = 'edgar2411'
host = 'localhost'
puerto = '3309'
basedatos = 'hospital'
tabla = 'tbb_personas'

# Crear motor de conexión
conexion = create_engine(f'mysql+pymysql://{usuario}:{contraseña}@{host}:{puerto}/{basedatos}')

In [8]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
# Leer los datos usando la conexión
df = pd.read_sql(f"SELECT * FROM {tabla}", con=conexion)
df.head()

,ID,Titulo,Nombre,Primer_Apellido,Segundo_Apellido,CURP,Genero,Grupo_Sanguineo,Fecha_Nacimiento,Estatus,Fecha_Registro,Fecha_Actualizacion,Usuario_ID
0,6f7d921d-069d-11f0-8303-88a4c21fa910,Enf.,Fernanda,Jiménez,Fernández,JJFF691129FF14,F,A+,1969-11-29,b'\x01',2025-03-21 15:42:49,None,None
1,6f7e23c1-069d-11f0-8303-88a4c21fa910,Enf.,Carlos,Rodríguez,García,RRGC690218MB43,M,B+,1969-02-18,b'\x01',2025-03-21 15:42:49,None,None
2,6f7e6b37-069d-11f0-8303-88a4c21fa910,Dr.,María,Fernández,Vargas,FFVM670211FW19,F,A-,1967-02-11,b'\x01',2025-03-21 15:42:49,None,None
3,6f7e8e82-069d-11f0-8303-88a4c21fa910,Dr.,Eduardo,Rodríguez,García,RRGE681218MQ98,M,O+,1968-12-18,b'\x01',2025-03-21 15:42:49,None,None
4,6f7eb167-069d-11f0-8303-88a4c21fa910,Lic.,Lucía,Fernández,Gutiérrez,FFGL960513FY52,F,A+,1996-05-13,b'\x01',2025-03-21 15:42:49,None,None

### 2. Limpiar Datos (Cualquier metodo de limpieza drop)

In [16]:
# Eliminar columnas que tengan al menos un valor nulo
df_limpio = df.dropna(axis=1)
df_limpio.head()

,ID,Titulo,Nombre,Primer_Apellido,Segundo_Apellido,CURP,Genero,Grupo_Sanguineo,Fecha_Nacimiento,Estatus,Fecha_Registro
0,6f7d921d-069d-11f0-8303-88a4c21fa910,Enf.,Fernanda,Jiménez,Fernández,JJFF691129FF14,F,A+,1969-11-29,b'\x01',2025-03-21 15:42:49
1,6f7e23c1-069d-11f0-8303-88a4c21fa910,Enf.,Carlos,Rodríguez,García,RRGC690218MB43,M,B+,1969-02-18,b'\x01',2025-03-21 15:42:49
2,6f7e6b37-069d-11f0-8303-88a4c21fa910,Dr.,María,Fernández,Vargas,FFVM670211FW19,F,A-,1967-02-11,b'\x01',2025-03-21 15:42:49
3,6f7e8e82-069d-11f0-8303-88a4c21fa910,Dr.,Eduardo,Rodríguez,García,RRGE681218MQ98,M,O+,1968-12-18,b'\x01',2025-03-21 15:42:49
4,6f7eb167-069d-11f0-8303-88a4c21fa910,Lic.,Lucía,Fernández,Gutiérrez,FFGL960513FY52,F,A+,1996-05-13,b'\x01',2025-03-21 15:42:49

In [18]:
# Hacer una copia segura antes de modificar
df_limpio = df.dropna(axis=1).copy()

### 3. Transfromación de datos.

In [19]:
df_limpio['categoria'] = 'Ejemplo'
df_limpio.head()

,ID,Titulo,Nombre,Primer_Apellido,Segundo_Apellido,CURP,Genero,Grupo_Sanguineo,Fecha_Nacimiento,Estatus,Fecha_Registro,categoria
0,6f7d921d-069d-11f0-8303-88a4c21fa910,Enf.,Fernanda,Jiménez,Fernández,JJFF691129FF14,F,A+,1969-11-29,b'\x01',2025-03-21 15:42:49,Ejemplo
1,6f7e23c1-069d-11f0-8303-88a4c21fa910,Enf.,Carlos,Rodríguez,García,RRGC690218MB43,M,B+,1969-02-18,b'\x01',2025-03-21 15:42:49,Ejemplo
2,6f7e6b37-069d-11f0-8303-88a4c21fa910,Dr.,María,Fernández,Vargas,FFVM670211FW19,F,A-,1967-02-11,b'\x01',2025-03-21 15:42:49,Ejemplo
3,6f7e8e82-069d-11f0-8303-88a4c21fa910,Dr.,Eduardo,Rodríguez,García,RRGE681218MQ98,M,O+,1968-12-18,b'\x01',2025-03-21 15:42:49,Ejemplo
4,6f7eb167-069d-11f0-8303-88a4c21fa910,Lic.,Lucía,Fernández,Gutiérrez,FFGL960513FY52,F,A+,1996-05-13,b'\x01',2025-03-21 15:42:49,Ejemplo

### 4. Exportar Datos a un Tabla temporal de SQL (MySQL)

In [20]:
df_limpio.to_sql('tabla_temporal', con=conexion, if_exists='replace', index=False)
print("Exportación completa")

Exportación completa

In [12]:
print(df_limpio.shape)

(2000, 11)

In [13]:
pd.read_sql("SELECT * FROM tabla_temporal", con=conexion)

,ID,Titulo,Nombre,Primer_Apellido,Segundo_Apellido,CURP,Genero,Grupo_Sanguineo,Fecha_Nacimiento,Estatus,Fecha_Registro
0,6f7d921d-069d-11f0-8303-88a4c21fa910,Enf.,Fernanda,Jiménez,Fernández,JJFF691129FF14,F,A+,1969-11-29,,2025-03-21 15:42:49
1,6f7e23c1-069d-11f0-8303-88a4c21fa910,Enf.,Carlos,Rodríguez,García,RRGC690218MB43,M,B+,1969-02-18,,2025-03-21 15:42:49
2,6f7e6b37-069d-11f0-8303-88a4c21fa910,Dr.,María,Fernández,Vargas,FFVM670211FW19,F,A-,1967-02-11,,2025-03-21 15:42:49
3,6f7e8e82-069d-11f0-8303-88a4c21fa910,Dr.,Eduardo,Rodríguez,García,RRGE681218MQ98,M,O+,1968-12-18,,2025-03-21 15:42:49
4,6f7eb167-069d-11f0-8303-88a4c21fa910,Lic.,Lucía,Fernández,Gutiérrez,FFGL960513FY52,F,A+,1996-05-13,,2025-03-21 15:42:49
...,...,...,...,...,...,...,...,...,...,...,...
1995,b922d178-0515-11f0-a461-88a4c21fa910,Lic.,Javier,Ramírez,Ramírez,RMRJ780902MG46,M,B+,1978-09-02,,2025-03-19 16:58:50
1996,b922f4ef-0515-11f0-a461-88a4c21fa910,Ing.,Fernando,López,Pérez,LLPF990923MH20,M,O-,1999-09-23,,2025-03-19 16:58:50
1997,b9230ff6-0515-11f0-a461-88a4c21fa910,Dr.,Miguel,Rodríguez,García,RRGM670906MY61,M,A+,1967-09-06,,2025-03-19 16:58:50
1998,b9232baf-0515-11f0-a461-88a4c21fa910,Lic.,Fernanda,Navarro,Morales,NVMF410913FU32,F,AB+,1941-09-13,,2025-03-19 16:58:50
1999,b9235156-0515-11f0-a461-88a4c21fa910,Ing.,Fernanda,Castillo,Gutiérrez,CSGF900921FV41,F,B+,1990-09-21,,2025-03-19 16:58:50